body{
    overflow-x: hidden;
}
label,p{
    font-size: 15px;
}
form{
    width: 300px;
    margin: auto;
    position: relative;
    right: 170px;
    top: 70px;
}
#sub{
    margin-left: 35px;
}
.coll10{
    position: relative; 
    left: -120px;
}
.log {
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    z-index: 2;
}
#sub1{
    background-color: #cb9e61;
    color: #fefdfc;
    width: 482px;
    border-radius: 40px;
}

@keyframes example {
0%   {left:200px; top:0px;}
100%  {left:0px; top:0px;}
}


.log1 {
    position: relative;
    animation-name: example1;
    animation-duration: 1s;
}

@keyframes example1 {
0%   {left:400px; top:0px;}
100%  {left:180px; top:0px;}
}

.log2 {
    position: relative;
    animation-name: example3;
    animation-duration: 1s;
    z-index: 2;
}

@keyframes example3 {
0%   {left:190px; top:0px;}
100%  {left:-7px; top:0px;}
}

.log3 {
    position: relative;
    animation-name: example4;
    animation-duration: 1s;
    z-index: 2;
    color: #cb9e61; 
    position:relative;
    left: 30%;
}

@keyframes example4 {
0%   {left:290px; top:0px;}
100%  {left:30%; top:0px;}
}

.img {
    position: relative;
    animation-name: example2;
    animation-duration: 1s;
    width: 300px; 
    position: relative; 
    top: 140px; 
    left: 100px;
}

@keyframes example2 {
0%   {left:-100px; top:140px;}
100%  {left:100px; top:140px;}
}

.col-10{
    padding: 0 !important;
}
